<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>バグリスト和訳</title>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body style="background-color: #ccc;">
<h1>目次</h1>
<ul>
<li><a href="#物理的バグphysics-related-glitches">物理的バグ(Physics glitches)</a></li>
<li><a href="#ヨッシー関係のバグyoshi-related-glitches">ヨッシー関係のバグ(Yoshi-related glitches)</a></li>
<li><a href="#アイテムとオブジェクトのバグitem-and-object-glitches">アイテムとオブジェクトのバグ(Item and object glitches)</a></li>
<li><a href="#雑多なバグmiscellaneous-glitches">様々なバグ(Miscellaneous glitches)</a></li>
<li><a href="#ロックとクラッシュlocks-and-crashes">ロックとクラッシュ(Locks and Crashes)</a></li>
</ul>
{{ content }}
<script>
$(function() {
  $('body').contents().filter(function() {
    return this.nodeType==8;
  }).each(function(i, e) {
    var tooltips = e.nodeValue.replace(/^ *[\n\r]|[\n\r]$/g, '');
    var $target = $(this).next();
    if ($target.is('ul')) {
      $target = $target.children().first();
    }
    $target.attr('title', tooltips);
    e.remove();
  });

  $("ul").each(function(i, e) {
    var $this = $(this);
    while ($this.next().is('ul')) {
      $this.append($this.next().children('li')[0]);
      $this.next().remove();
    }
  });
});
</script>
</body>
</html>